<form>
  <label for="challenge-word">Enter the 5-letter word:</label>
  <input type="text" name="challenge-word" id="challenge-word" required pattern="^[a-z]{5}$" />
  <input type="submit" value="Submit!" />
</form>