<!DOCTYPE html>
<html lang="en">

{{> gameHead}}

<body>
  {{> gameLayout}}

  <!--scoreboard -->
  {{!-- {{> scoreboard entries=scoreboard}} --}}
  {{> scoreboardModal entries=scoreboard}}

  <!-- Expose any saved daily progress to the frontend -->
  <script>
    window.dailyProgress = {{{json dailyProgress }}} || null;
  </script>


  <!-- JS implementation of game and sowpods-five -->
  <script src="/resources/sowpods-five.js"></script>
  <script type="module" src="/resources/game.js"></script>
</body>

</html>