<!DOCTYPE html>
<html lang="en">

{{> gameHead}}

<body>
    {{> gameLayout}}
    <!--Add JS implementation of game and sowpods-five-->
    <script src="/resources/sowpods-five.js"></script>
    <script type="module" src="/resources/game.js"></script>
</body>

</html>