<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="mx-2"> Friend Requests </h2>
        {{> socialSidebar}}
        <br>
        <form method="POST" action="/profile/social/requests">
            <label for = "add_friend">Add Friend</label>
            <input type="text" name="add_friend" id="add_friend"/>
            <input class="btn btn-primary" type="submit" value="Add"/>
        </form>
        {{#each friends}}
            <div class="col border border-1 border-dark mx-2 pt-3 my-3">
                <p>{{username}}</p>
            </div>
        {{/each}}
    </div>
 </div>
</div>

{{> message}}