<style>
    html, body{
      background-color: #181818 !important;
      color: white !important;
    }
</style>

<h2 style="align-self: center; color: C6AA76;">Logged Out Successfully!</h2>

{{> message}}