<style>
  body{
    background-color: #181818;
    color: white;
  }
  .register-container{
    min-height: 120hv;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .register-container input[type="text"], input[type="password"]{
    background-color: #242424;
    color: white;
    border: 1px solid #444;
  }
  .btn.btn-primary{
    background-color: #C6AA76;
    border-color: white;
    color: white;
  }
  p{
    color: white;
  }
  a{
    color: #C6AA76;
  }
</style>
<div class="container register-container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2> Register </h2>
        <form method="POST" action="/register">
            <label for = "username"> Username</label>
            <br>
            <input type="text" name="username" id="username" required>
            <br>
            <label for = "password"> Password</label>
            <br>
            <input type="password" name="password" id="password" required>
            <br><br>
            <input class="btn btn-primary" type="submit" value="Register"/>
        </form>
        <p style="display: inline;">Already have an account?</p>
        <a href="/login">Login</a>
    </div>
 </div>
</div>

{{> message}}