<footer class="text-center text-muted w-100 mt-auto fixed-bottom py-3">
  <style>
    footer {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: grey;
    }
    footer p {
      margin: 0;
      line-height: 1.2;
      font-size: 0.95rem;
      color: white;
    }
    body {

      padding-bottom: 56px;
    }
  </style>

  <p>&copy; Copyright: Buff Games</p>
</footer>
