<style>
    .custom-modal-dark {
  background-color: #181818;
  color: #fff;
  border: 2px solid #000;

  .gold-btn {
    background-color: #C6AA76;
    border: 1px solid white;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
  }

  .gold-btn:hover {
    background-color: grey !important;
    border-color: transparent !important;
    color: white !important;
  }

  .gold-btn:active {
    background-color: #C6AA76 !important;
    border-color: white !important;
    color: white !important;
  }
}
</style>
<div class="modal fade" id="scoreModal" tabindex="-1" aria-labelledby="scoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content custom-modal-dark">

      <div class="modal-header">
        <h5 class="modal-title" id="scoreModalLabel">Score</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="modal-body">
            <p>You scored: <span id="finalScore">0</span></p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
