<table class="scoreboard">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {{#if entries.length}}
        {{#each entries}}
        <tr>
            <td>{{add1 @index}}</td>
            <td>{{username}}</td>
            <td>{{score}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3">No scores yet.</td>
        </tr>
        {{/if}}
    </tbody>
</table>