<nav class="navbar navbar-expand-sm border-bottom">
    <div class="container-fluid">

      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <a class="nav-link {{#if active.friends}}active{{/if}}" href="/profile/social">Friends</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{#if active.requests}}active{{/if}}" href="/profile/social/requests">Friend Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if active.sent}}active{{/if}}" href="/profile/social/requests/sent">Sent Requests</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>