<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item {{#if active.account}}active{{/if}}">
            <a class="text-decoration-none text-reset" href="/profile/social">Friends</a>
            </li>
            <li class="list-group-item {{#if active.stats}}active{{/if}}">
            <a class="text-decoration-none text-reset" href="/profile/social/requests">Friend Requests</a>
            </li>
        </ul>
        </div>
    </div>
</div>