.tile {
    width: 55px;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 6px;
    margin: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.keyboard-key {
    width: 40px;
    margin: 2px;
    font-weight: bold;
}

.keyboard-key-delete {
    width: 60px;
    margin: 2px;
    font-weight: bold;
}

.keyboard-key-enter {
    width: 80px;
    margin: 2px;
    font-weight: bold;
}

#keyboard {
    width: 500px;
}

.message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s;
}

.message.show {
    opacity: 1;
}